<%= form_for @item, url: {action: action} do |i| %>
  <%= i.label :title %>
  <%= i.text_field :title %>

  <%= i.label :description %>
  <%= i.text_area :description, class: "tinymce" %>

  <%= i.label :thumbnail_filename %>
  <%= i.text_field :thumbnail_filename %>

  <%= i.label :image_filename_1 %>
  <%= i.text_field :image_filename_1 %>

  <%= i.label :image_filename_2 %>
  <%= i.text_field :image_filename_2 %>

  <%= i.label :image_filename_3 %>
  <%= i.text_field :image_filename_3 %>

  <%= i.label :quantity %>
  <%= i.text_field :quantity %>

  <%= i.label :price %>
  <%= i.text_field :price %>

  <br /><br />

  <div>
    <%= i.check_box :enabled %>
    <%= i.label :enabled %>
  </div>

  <br />
  <%= submit_tag I18n.t('admin.shop.' + action), { class: "btn btn-success" } %>
<%- end -%>

