<%- content_for :title do I18n.t('page_titles.shop') end -%>

<table id="portfolio-admin" class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= I18n.t('admin.shop.id') %></th>
      <th><%= I18n.t('admin.shop.title') %></th>
      <th><%= I18n.t('admin.shop.description') %></th>
      <th><%= I18n.t('admin.shop.images_count') %></th>
      <th><%= I18n.t('admin.page_actions') %></th>
    </tr>
  </thead>
  <tbody>
  <%- @items.each do |i| -%>
    <tr class="<%= "disabled" unless i.enabled %>">
      <td><%= image_tag i.thumbnail_filename.to_s, { alt: i.id.to_s, class: "span2" } %></td>
      <td><%= truncate(i.title, length: 50) %></td>
      <td><%= truncate(i.description, length: 50) %></td>
      <td><%= i.images_count %></td>
      <td>
        <%= link_to I18n.t('admin.shop.edit'), edit_admin_shop_path(i.id), { class: "btn btn-primary", type: "button" } %>
        <%= link_to I18n.t('admin.shop.destroy'), admin_shop_path(i.id), { class: "btn btn-primary", type: "button", method: :delete } %>
      </td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<%= link_to I18n.t('admin.shop.create'), new_admin_shop_path, { class: "btn btn-primary", type: "button" } %>
