<%- content_for :title do I18n.t('page_titles.shop') end -%>

<div id="portfolio-gallery" class="span12">
<%- @items.each do |i| -%>
  <div id="portfolio-thumb" class="span3">
    <%= link_to image_tag(i.thumbnail_filename.to_s), shop_path(i.id) %>
    <p><%= i.title -%><span class="item-price"><%= t('shop.quantity_available', :q => i.quantity) if i.quantity > 1 %><%= i.price %></span></p>
  </div>
<%- end -%>
</div>

<div id="delivery-opts" class="span11">
  <h3><%= I18n.t('shop.delivery_opts') %></h3>
  <%= raw(@delivery_opts) %>
</div>
