<h2><%= I18n.t('admin.page_editing') -%><%= I18n.t('page_titles.contact') -%></h2>
<% if flash[:errors] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
<% if flash[:info] %>
  <div class="info"><%= flash[:info] %></div>
<% end %>
<%= form_tag admin_content_contact_path do %>
  <div class="input-prepend">
    <span class="add-on"><i class="icon-envelope"></i></span>
    <%= text_field_tag :email_address, @email_address, class: "span12"  %>
  </div>
  <%= text_area_tag :content, @body_text, class: "tinymce span11", rows: 20 %>
  <%= submit_tag "Save", class: "span3" %>
<% end %>
